h1 {
    text-align: center;
    font-weight: 475;
}

h2 {
    text-align: center;
}

p {
    margin-top: 40px;
    margin-left: 20px;
}

#msgPopup {
    margin-top: 0px;
    margin-left: 0px;
}

li {
    margin-bottom: 10px;
    margin-left: 50px;
}