.myToolbar {
    justify-content: space-between;
}

.navigation-element {
    color: black;
    cursor: pointer;
}

.navigation-element.active {
    color: white;
}

.navigation-element:hover {
    color: grey;
}