:root {
    /* COLORS  */
    --cst-black: #000000;
    --cst-white: #fff;
    --cst-grey-black: #36393F;
    --cst-fade-black: rgba(0, 0, 0, 0.3);
    --cst-fade-white: #F9F6EE;

    /* SPACING */
    --cst-spacing_0: 1em;
    --cst-spacing_1: 3em;
    --cst-spacing_2: 5em;
    --cst-spacing_3: 7em;
    --cst-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --cst-classic-border: solid 0.5px grey;

    /*  BREAKPOINTS */
    --cst-breakpoint_desktop: 1366px;
    --cst-breakpoint_tablet: 778px;
    --cst-breakpoint_mobile: 360px;
}
